<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a class="panel-block">
      Trand 1
    </a>
    <a class="panel-block">
      Trand 2
    </a>
    <a class="panel-block">
      Trand 3
    </a>
    <a class="panel-block">
      Trand 4
    </a>
    <a class="panel-block">
      Trand 5
    </a>
    <a class="panel-block">
      Trand 6
    </a>
  </nav>
</div>